# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Xerces
.dirstamp
.deps
vendors/XQilla-2.3.3/.libs/
vendors/XQilla-2.3.3/Makefile
vendors/XQilla-2.3.3/compile-delayed-module
vendors/XQilla-2.3.3/config.log
vendors/XQilla-2.3.3/config.status
vendors/XQilla-2.3.3/dom-basic
vendors/XQilla-2.3.3/dom-context-item
vendors/XQilla-2.3.3/dom-resolver
vendors/XQilla-2.3.3/include/Makefile
vendors/XQilla-2.3.3/libtool
vendors/XQilla-2.3.3/simple-basic
vendors/XQilla-2.3.3/simple-context-item
vendors/XQilla-2.3.3/src/config/stamp-h1
vendors/XQilla-2.3.3/src/config/xqilla_config_unix.h
vendors/XQilla-2.3.3/xmarkRunner
vendors/XQilla-2.3.3/xqc-basic
vendors/XQilla-2.3.3/xqc-context-item
vendors/XQilla-2.3.3/xqilla
vendors/XQilla-2.3.3/xqtsRunner
vendors/xerces-c-3.1.3/Makefile
vendors/xerces-c-3.1.3/config.h
vendors/xerces-c-3.1.3/config.log
vendors/xerces-c-3.1.3/config.status
vendors/xerces-c-3.1.3/libtool
vendors/xerces-c-3.1.3/samples/.libs/
vendors/xerces-c-3.1.3/samples/CreateDOMDocument
vendors/xerces-c-3.1.3/samples/DOMCount
vendors/xerces-c-3.1.3/samples/DOMPrint
vendors/xerces-c-3.1.3/samples/EnumVal
vendors/xerces-c-3.1.3/samples/Makefile
vendors/xerces-c-3.1.3/samples/MemParse
vendors/xerces-c-3.1.3/samples/PParse
vendors/xerces-c-3.1.3/samples/PSVIWriter
vendors/xerces-c-3.1.3/samples/Redirect
vendors/xerces-c-3.1.3/samples/SAX2Count
vendors/xerces-c-3.1.3/samples/SAX2Print
vendors/xerces-c-3.1.3/samples/SAXCount
vendors/xerces-c-3.1.3/samples/SAXPrint
vendors/xerces-c-3.1.3/samples/SCMPrint
vendors/xerces-c-3.1.3/samples/SEnumVal
vendors/xerces-c-3.1.3/samples/StdInParse
vendors/xerces-c-3.1.3/samples/XInclude
vendors/xerces-c-3.1.3/src/Makefile
vendors/xerces-c-3.1.3/src/xercesc/util/MsgLoaders/MsgCatalog/Makefile
vendors/xerces-c-3.1.3/src/xercesc/util/Xerces_autoconf_config.hpp
vendors/xerces-c-3.1.3/src/xercesc/util/stamp-h2
vendors/xerces-c-3.1.3/stamp-h1
vendors/xerces-c-3.1.3/tests/Makefile
vendors/xerces-c-3.1.3/xerces-c.pc

